{{ partial "header" . }}
<header>
    <strong>Hej<i>,</i></strong><br>
    Jag heter <h1>Carl Oscarsson</h1> och jobbar med <em>Systemutveckling</em>.<br>
    <dl>
        <dt>Mail:</dt>
        <dd><a href="mailto:hej@carloscarsson.com">hej@carloscarsson.com</a></dd>
        <dt>Tel:</dt>
        <dd><a href="tel:0704892138">0704892138</a></dd>
    </dl>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="white" points="0,100 100,0 100,100"/>
  </svg>
</header>
<main>
    
</main>
{{ partial "footer" . }}